# Entornos virtuales
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
*.env

# Archivos de configuración de IDEs
.vscode/
.idea/
*.swp

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Datos grandes
data/
*.csv
*.json

# Otros
.DS_Store
*.log
